/target
/alf_data_dev
/alf_data
/alf_data_testData
/alf_data*/
*.log
*.log.*
*~
output*.txt
debug*.txt
debug*.out
.classpath
/src/main/amp/web/scripts/raml/
activemq-data/
/target
/activation/
/antlr/
/aopalliance/
/args4j/
/asm/
/avalon-framework/
/axis/
/backport-util-concurrent/
/bsf/
/cglib/
/classworlds/
/com/
/commons-beanutils/
/commons-cli/
/commons-codec/
/commons-collections/
/commons-dbcp/
/commons-digester/
/commons-discovery/
/commons-el/
/commons-fileupload/
/commons-httpclient/
/commons-io/
/commons-lang/
/commons-logging/
/commons-net/
/commons-pool/
/commons-validator/
/concurrent/
/de/
/dom4j/
/edu/
/gov/
/javax/
/jaxen/
/jdom/
/jmagick/
/joda-time/
/junit/
/log4j/
/logkit/
/nekohtml/
/net/
/nu/
/org/
/oro/
/rhino/
/rome/
/stax/
/tk/
/wsdl4j/
/xalan/
/xerces/
/xml-apis/
/xpp3/
/runserver.last.out
/runserver.out
/target
