body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.page-sections, #the-document h1, #the-document h2, #the-document h3, #the-document h4, #the-document h5 {
  font-family: 'PT Serif', Georgia, serif;
}
.navbar-brand, .page .inspector, .inspectors {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}