body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.page-sections, .page-sections h1, .page-sections h2, .page-sections h3, .page-sections h4, .page-sections h5 {
  font-family: 'PT Serif', Georgia, serif;
}
.navbar-brand, .page .inspector, .inspectors {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}