.no-print, nav, .comments {
  display: none;
}

@page {
  margin: 1cm;
}

img {
	max-width: 100%;
}

p a:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}

.no-section {
  display: none;
}

.page-sections.no-section {
  display: block;
}

.blank.reference {
  display: none;
}
