<link rel="import" href="../vendor/polymer/polymer/polymer.html">

<polymer-element name="meow-mixer" attributes="text updateRate">

  <style>
  	.active {
  	}
  	.word {
  		opacity: 0.2;
  		/*transition: opacity 800ms ease-in;*/
  		/*transition: opacity 800ms ease-out;*/
  		/* style='visibility:show' */
  	}
  </style>

  <template>
  	<span id="container"></span>
  </template>

  <script>
    Polymer('meow-mixer', {
      text: "Meow mix meow mix please deliver",
      updateRate: 400,
      interval: null,
      ready: function() {
      	this.$.container.innerHTML = this.text2content(this.text);
      	this.runUpdate();     	
      },
      textChanged: function(oldValue, newValue) {
      	this.$.container.innerHTML = this.text2content(this.text);
        this.runUpdate();
      },
      updateRateChaged: function(oldValue, newValue) {
      	this.runUpdate();
      },
      text2content: function(text) {
      	var result = "";
      	var tokens = text.split(' ');
      	for(var i in tokens)
      	{
      		result += "<span class='word'>" + tokens[i] + " </span>";
      	}
      	return result;
      },
      runUpdate: function() {
      	var c = this.$.container;
      	
      	if(this.interval !== null) {
      		clearInterval(this.interval);
      	}      	
      	var update = function() {
	      	var curElement = c.querySelector('.active');
	      	if(curElement === null)
	      	{
	      		curElement = c.firstChild;
	      		curElement.classList.add("active");
	      		$(curElement).css({'opacity': '1'});
				return;
	      	}

	      	if(curElement !== null) {
	      		curElement.classList.remove("active");
	      		
	      		$(curElement).css({'opacity': '0.2'});
	      		curElement = curElement.nextSibling;
	      		if(curElement === null) {
	      			curElement = c.firstChild;
	      		}
	      		$(curElement).css({'opacity': '1'});
	      		curElement.classList.add("active");

	      	}
	    }
	    update();
      	this.interval = setInterval(update, this.updateRate);
      }
    });
  </script>

</polymer-element>