<link rel="import" href="../vendor/polymer/polymer/polymer.html">

<polymer-element name="trans-reference" attributes="mdid property inspectorId">
  <template>
    <style>
      #container
      {
        
        border-width: 0px 0px 2px 0px;
        border-style: solid;      
      }
      .mdid {
        border-bottom-color: red;
        font-weight: bold;
      }
      .name {
        border-bottom-color: orange;
        font-weight: bold;
      }
      .description {
        border-bottom-color: gray;
        font-weight: bold;
      }
      .value {
        border-bottom-color: blue;
        font-weight: bold;
      }

    </style>

  	<span id="container" class="foo">{{displayValue}}</span>
  </template>

  <script>
    Polymer('trans-reference', {
      mdid: null,
      property: null,
      displayValue: "",
      inspectorId: null,
      ready: function() {
        var reference = this;
        $(this.$.container).on("click", function(){
          if(reference.inspectorId !== null)
          {
            $("#" + reference.inspectorId).get(0).mdid = reference.mdid;
          }
        });
      	this.refresh();
      },
      mdidChanged: function(oldValue, newValue) {
        if(oldValue !== newValue)
        {
          this.refresh();
        }
      },
      propertyChanged: function(oldValue, newValue) {
        if(oldValue !== newValue)
        {
          $(this.$.container).removeClass(oldValue);
          if(newValue !== null)
          {
            $(this.$.container).addClass(newValue);
          }
          this.refresh();
        }
      },
	    refresh: function() {
        if(this.mdid === null || this.property === null)
        {
          this.displayValue = "unset";
        }
        this.displayValue = app.datamodel.getProperty(this.mdid, this.property)
      },

    });
  </script>

</polymer-element>